<!-- <!DOCTYPE html>
<html>
<head>
    <title>Workrave Graphs</title>
    <style>
        body { background-color: #121212; color: white; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>Workrave Graphs</h1>
    {% for path in graph_paths %}
        <img src="{{ path }}">
    {% endfor %}
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Workrave Graphs</title>
    <style>
        body { background-color: #121212; color: white; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>Workrave Graphs</h1>
    {% for path in graph_paths %}
        <img src="{{ path }}">
    {% endfor %}
</body>
</html>
